# config file ignore karne ke liye
config.jsx
# node_modules folder ignore karne ke liye
node_modules/

# environment file ignore karne ke liye
.env

# build/output folder ignore karne ke liye
dist/
build/


